<div class="loign-form">
    <md-card>
        <md-card-title><em>Login</em></md-card-title>
        <md-card-subtitle><em>Enter your email and password</em> </md-card-subtitle>

        <md-card-content align="center">
            <form [formGroup]="userForm" (submit)="saveUser()">
                <md-input-container>
                    <input type="email" id="email" mdInput placeholder="Email" formControlName="email">
                    <control-messages [control]="userForm.controls.email"></control-messages>
                </md-input-container>

                <md-input-container>
                    <input type="password" id="password" mdInput placeholder="Password" formControlName="password">
                    <control-messages [control]="userForm.controls.password"></control-messages>
                </md-input-container>

                <div align="center">
                    <button md-fab type="submit" [disabled]="!userForm.valid" color="primary">
                    <md-icon class="fa fa-sign-in"></md-icon> 
                </button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>