.example-card {
  width: 100%;
}
.example-header-image {
  background-image: url('https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-08-512.png');
  background-size: cover;
}
.mad-card-subtitle {
    display: flex;
    flex-direction: row;
  }
  
md-icon {
    height: auto;
}