<login-form></login-form>
<br>
<div class="container">
  <div class="row">
    <div *ngFor="let card of contentData" >
      <div class="col-lg-3 col-md-3">
        <md-card class="example-card">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>{{ card.title }}</md-card-title>
            <md-card-subtitle>Place </md-card-subtitle>
          </md-card-header>
          <img md-card-image src="{{card.image}}" />
          <md-card-content>
            <p>
              {{ card.content }}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button  color="primary"> Share</button>
          </md-card-actions>
        </md-card>
        <br>
      </div>
    </div>
  </div>