/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";

body{
    margin:0px;   
}
.header-toolbar {
position: fixed;
z-index: 2;
}
.login-form {
	 margin:auto;
	 padding:50px;
     width:413px;
     height:230px;
}
control-messages {
    color:red;
}
